body{
    background-color: bisque;
    font-size: 30px;
    margin: 50px;
 
  
      
    
}
h1 {
    border-radius: 20px;
    border: 2px solid darkblue;
    padding: 10px;
    background-color: aqua;
    color: rgb(252, 0, 0);
}
#link01, #link02, #link03, #link04, #link05, #link06
{
    background-color: red;
    color: black;
    border-radius: 5px;
    padding: 15px 15px;
    text-decoration: none;
    border: 5px solid black;
}

#link01:hover
 { background-color: lightcoral;
    text-decoration: underline;
    text-decoration: none;

} #link02:hover
{ background-color: lightcoral;
    text-decoration: underline;

} #link03:hover
 { background-color: lightcoral;
    text-decoration: underline;

}#link04:hover
 { background-color: lightcoral;
    text-decoration: underline;

}#link05:hover
 { background-color: lightcoral;
    text-decoration: underline;

}
#link06:hover
 { background-color: lightcoral;
    text-decoration: underline;

}
.table01{
    background-image: url('/source/cat.jpg');
    background-attachment: fixed;
    background-size: cover;
}
 th, td {
    border: 4px solid black;
    border-radius: 10px;
    padding: 5px;
    border-collapse: separate;
  }
  table{border: 4px solid black;
    border-style: inset;

  }